body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.stemwijzer-logo_text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.stemwijzer-logo_text span:first-child {
  color: #5315f6;
}

.stemwijzer-logo_text span:last-child {
  color: #000000;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.party-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
  background-color: #110335;
  padding: 20px;
  border-radius: 10px;
}

.party-logo {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.ButtonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
}

.start-button {
  background-color: #5315f6;
  text-decoration: none;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 70%;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, outline 0.3s ease;
}

.start-button:focus {
  outline: 3px dashed #000000;
  outline-offset: 1px;
  background-color: #3a0fb0; /* Donkerdere tint van de originele kleur */
}

.disclaimer {
  font-size: 0.8rem;
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.logo_svg__logo {
  margin-inline-start: 5px;
}

@media (min-width: 400px) {
  .party-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 500px) {
  .party-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .stemwijzer-logo_text {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .party-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Toegankelijkheid: Skip link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.icon-tabler-arrow-left {
  color: white;
}

.icon-tabler-thumb-up {
  color: white;
}

.icon-tabler-thumb-down {
  color: white;
}

.svg-thumb-up_color {
  color: white;
  margin-inline-start: 10px;
}
